.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    .box {
    width: 300px;
    height: 300px;
    }
    body {
    margin: 0px;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        position: fixed;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
      }
  
      .attribution a {
        color: hsl(228, 45%, 44%);
      }

    .attribution a{
        font-family: 'Montserrat', sans-serif;
        color: hsl(228, 45%, 44%);
    }
    
    h1{
        font-family: 'Montserrat', sans-serif;
    }

    .preco {
        text-decoration: line-through;
        color: #52AD8C;
    }

    .teste {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 18px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
    font-family: 'Montserrat', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');